In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tqdm
from groclient import GroClient
import os

In [2]:
# setup client
API_HOST = 'api.gro-intelligence.com'
GROAPI_TOKEN = os.environ['GROAPI_TOKEN']
client = GroClient(API_HOST, GROAPI_TOKEN)

# Gro Supply & Demand - Soybeans

We want to recreate the balance sheets for soybeans on the portal using the API.

For each country, we want to pull relevant data from the API:
* Supply
* Demand
* Stocks

In the portal, we look at the US, Brazil, China, and Argentina. For each line of the balance sheet, we call a separate metric-item pair. (e.g. the line in the US balance sheet for soy crush involves querying from the Gro API with metric = crushing (mass) and item = soybeans).

------------------

Starting with a simple example: annual US Soy Crush from PS&D in bushels.

In order to get this data series, we need to write a query with the correct metric, item, region, and source.

In [3]:
us_soy_crush_query = {
    'metric_id': 1800032, # metric ID for crushing (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for USDA PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20 # unit ID for bushels
}

# now can use the API client to pull this data series
us_soy_crush = pd.DataFrame(client.get_data_points(**us_soy_crush_query))
us_soy_crush

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,4.789948e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.374912e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,5.594274e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,5.764031e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,6.059086e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
5,1969-09-01T00:00:00.000Z,1970-08-31T00:00:00.000Z,7.373051e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
6,1970-09-01T00:00:00.000Z,1971-08-31T00:00:00.000Z,7.601231e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
7,1971-09-01T00:00:00.000Z,1972-08-31T00:00:00.000Z,7.205498e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
8,1972-09-01T00:00:00.000Z,1973-08-31T00:00:00.000Z,7.217991e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
9,1973-09-01T00:00:00.000Z,1974-08-31T00:00:00.000Z,8.213386e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
10,1974-09-01T00:00:00.000Z,1975-08-31T00:00:00.000Z,7.012592e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
11,1975-09-01T00:00:00.000Z,1976-08-31T00:00:00.000Z,8.651375e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
12,1976-09-01T00:00:00.000Z,1977-08-31T00:00:00.000Z,7.902165e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
13,1977-09-01T00:00:00.000Z,1978-08-31T00:00:00.000Z,9.266837e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
14,1978-09-01T00:00:00.000Z,1979-08-31T00:00:00.000Z,1.017846e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
15,1979-09-01T00:00:00.000Z,1980-08-31T00:00:00.000Z,1.123374e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
16,1980-09-01T00:00:00.000Z,1981-08-31T00:00:00.000Z,1.020491e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
17,1981-09-01T00:00:00.000Z,1982-08-31T00:00:00.000Z,1.030008e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
18,1982-09-01T00:00:00.000Z,1983-08-31T00:00:00.000Z,1.108015e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
19,1983-09-01T00:00:00.000Z,1984-08-31T00:00:00.000Z,9.830122e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
20,1984-09-01T00:00:00.000Z,1985-08-31T00:00:00.000Z,1.030485e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
21,1985-09-01T00:00:00.000Z,1986-08-31T00:00:00.000Z,1.053010e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
22,1986-09-01T00:00:00.000Z,1987-08-31T00:00:00.000Z,1.179005e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
23,1987-09-01T00:00:00.000Z,1988-08-31T00:00:00.000Z,1.174228e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
24,1988-09-01T00:00:00.000Z,1989-08-31T00:00:00.000Z,1.058007e+09,20,{},14,1,2006-10-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
25,1989-09-01T00:00:00.000Z,1990-08-31T00:00:00.000Z,1.146009e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
26,1990-09-01T00:00:00.000Z,1991-08-31T00:00:00.000Z,1.187015e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
27,1991-09-01T00:00:00.000Z,1992-08-31T00:00:00.000Z,1.253999e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
28,1992-09-01T00:00:00.000Z,1993-08-31T00:00:00.000Z,1.278985e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
29,1993-09-01T00:00:00.000Z,1994-08-31T00:00:00.000Z,1.275605e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
30,1994-09-01T00:00:00.000Z,1995-08-31T00:00:00.000Z,1.405164e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
31,1995-09-01T00:00:00.000Z,1996-08-31T00:00:00.000Z,1.369559e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
32,1996-09-01T00:00:00.000Z,1997-08-31T00:00:00.000Z,1.435956e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
33,1997-09-01T00:00:00.000Z,1998-08-31T00:00:00.000Z,1.597041e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
34,1998-09-01T00:00:00.000Z,1999-08-31T00:00:00.000Z,1.589619e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
35,1999-09-01T00:00:00.000Z,2000-08-31T00:00:00.000Z,1.577310e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
36,2000-09-01T00:00:00.000Z,2001-08-31T00:00:00.000Z,1.639701e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
37,2001-09-01T00:00:00.000Z,2002-08-31T00:00:00.000Z,1.699741e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
38,2002-09-01T00:00:00.000Z,2003-08-31T00:00:00.000Z,1.614825e+09,20,{},14,1,2016-08-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
39,2003-09-01T00:00:00.000Z,2004-08-31T00:00:00.000Z,1.529726e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
40,2004-09-01T00:00:00.000Z,2005-08-31T00:00:00.000Z,1.696103e+09,20,{},14,1,2016-08-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
41,2005-09-01T00:00:00.000Z,2006-08-31T00:00:00.000Z,1.738873e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
42,2006-09-01T00:00:00.000Z,2007-08-31T00:00:00.000Z,1.807731e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
43,2007-09-01T00:00:00.000Z,2008-08-31T00:00:00.000Z,1.803432e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
44,2008-09-01T00:00:00.000Z,2009-08-31T00:00:00.000Z,1.661931e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
45,2009-09-01T00:00:00.000Z,2010-08-31T00:00:00.000Z,1.751697e+09,20,{},14,1,2014-11-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
46,2010-09-01T00:00:00.000Z,2011-08-31T00:00:00.000Z,1.648005e+09,20,{},14,1,2014-11-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
47,2011-09-01T00:00:00.000Z,2012-08-31T00:00:00.000Z,1.703011e+09,20,{},14,1,2017-07-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
48,2012-09-01T00:00:00.000Z,2013-08-31T00:00:00.000Z,1.689011e+09,20,{},14,1,2018-05-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
49,2013-09-01T00:00:00.000Z,2014-08-31T00:00:00.000Z,1.734023e+09,20,{},14,1,2019-02-08T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
50,2014-09-01T00:00:00.000Z,2015-08-31T00:00:00.000Z,1.873025e+09,20,{},14,1,2019-02-08T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
51,2015-09-01T00:00:00.000Z,2016-08-31T00:00:00.000Z,1.886253e+09,20,{},14,1,2019-07-11T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
52,2016-09-01T00:00:00.000Z,2017-08-31T00:00:00.000Z,1.901208e+09,20,{},14,1,2020-07-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
53,2017-09-01T00:00:00.000Z,2018-08-31T00:00:00.000Z,2.054945e+09,20,{},14,1,2020-09-11T00:00:00.000Z,2020-09-11T00:00:00.000Z,1800032,270,1215,0,9
54,2018-09-01T00:00:00.000Z,2019-08-31T00:00:00.000Z,2.092020e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1800032,270,1215,0,9
55,2019-09-01T00:00:00.000Z,2020-08-31T00:00:00.000Z,2.164589e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1800032,270,1215,0,9
56,2020-09-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,2.140595e+09,20,{},14,1,2022-02-09T00:00:00.000Z,2022-02-09T00:00:00.000Z,1800032,270,1215,0,9
57,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,2.215002e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1215,0,9

We can also limit the dates of our query. Suppose we only care about the annual US soy crush for this year.

In [4]:
us_soy_crush_query_dates = {
    'metric_id': 1800032, # metric ID for crushing (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
    'start_date': '2022-01-01', # start of the year
    'end_date': '2022-12-31' # end of the year
}

# now can use the API client to pull this data series
us_soy_crush_dates = pd.DataFrame(client.get_data_points(**us_soy_crush_query_dates))
us_soy_crush_dates

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,2.215002e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1215,0,9

## Total Supply, Total Demand, Ending Stocks-to-Use

In the balance sheets, we have annual values for total supply, total demand, and ending stocks-to-use. 

The total supply is from USDA PS&D, the total demand number is calculated as total consumption + exports, and ending stocks-to-use is calcualted as ending carryover / total demand.

We can write some queries and do some simple calculations to get these numbers.

In [5]:
# total supply
# we are still pulling data with item soybeans, region US, and source PS&D
# just change the metric_id
us_soy_total_supply_query = {
    'metric_id': 1880032, # metric ID for supply quantity (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

us_soy_total_supply = pd.DataFrame(client.get_data_points(**us_soy_total_supply_query))
us_soy_total_supply

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,7.682436e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,8.753156e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,9.641258e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,1.066605e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,1.273327e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
5,1969-09-01T00:00:00.000Z,1970-08-31T00:00:00.000Z,1.459986e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
6,1970-09-01T00:00:00.000Z,1971-08-31T00:00:00.000Z,1.356956e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
7,1971-09-01T00:00:00.000Z,1972-08-31T00:00:00.000Z,1.274907e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
8,1972-09-01T00:00:00.000Z,1973-08-31T00:00:00.000Z,1.342589e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
9,1973-09-01T00:00:00.000Z,1974-08-31T00:00:00.000Z,1.607219e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
10,1974-09-01T00:00:00.000Z,1975-08-31T00:00:00.000Z,1.387049e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
11,1975-09-01T00:00:00.000Z,1976-08-31T00:00:00.000Z,1.736521e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
12,1976-09-01T00:00:00.000Z,1977-08-31T00:00:00.000Z,1.533548e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
13,1977-09-01T00:00:00.000Z,1978-08-31T00:00:00.000Z,1.870196e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
14,1978-09-01T00:00:00.000Z,1979-08-31T00:00:00.000Z,2.029922e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
15,1979-09-01T00:00:00.000Z,1980-08-31T00:00:00.000Z,2.436274e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
16,1980-09-01T00:00:00.000Z,1981-08-31T00:00:00.000Z,2.156028e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
17,1981-09-01T00:00:00.000Z,1982-08-31T00:00:00.000Z,2.302159e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
18,1982-09-01T00:00:00.000Z,1983-08-31T00:00:00.000Z,2.444799e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
19,1983-09-01T00:00:00.000Z,1984-08-31T00:00:00.000Z,1.980391e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
20,1984-09-01T00:00:00.000Z,1985-08-31T00:00:00.000Z,2.036793e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
21,1985-09-01T00:00:00.000Z,1986-08-31T00:00:00.000Z,2.414779e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
22,1986-09-01T00:00:00.000Z,1987-08-31T00:00:00.000Z,2.478309e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
23,1987-09-01T00:00:00.000Z,1988-08-31T00:00:00.000Z,2.375353e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
24,1988-09-01T00:00:00.000Z,1989-08-31T00:00:00.000Z,1.854947e+09,20,{},14,1,2006-10-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
25,1989-09-01T00:00:00.000Z,1990-08-31T00:00:00.000Z,2.108224e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
26,1990-09-01T00:00:00.000Z,1991-08-31T00:00:00.000Z,2.168594e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
27,1991-09-01T00:00:00.000Z,1992-08-31T00:00:00.000Z,2.319061e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
28,1992-09-01T00:00:00.000Z,1993-08-31T00:00:00.000Z,2.470887e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
29,1993-09-01T00:00:00.000Z,1994-08-31T00:00:00.000Z,2.168447e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
30,1994-09-01T00:00:00.000Z,1995-08-31T00:00:00.000Z,2.729491e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
31,1995-09-01T00:00:00.000Z,1996-08-31T00:00:00.000Z,2.513547e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
32,1996-09-01T00:00:00.000Z,1997-08-31T00:00:00.000Z,2.572631e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
33,1997-09-01T00:00:00.000Z,1998-08-31T00:00:00.000Z,2.825614e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
34,1998-09-01T00:00:00.000Z,1999-08-31T00:00:00.000Z,2.944370e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
35,1999-09-01T00:00:00.000Z,2000-08-31T00:00:00.000Z,3.006468e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
36,2000-09-01T00:00:00.000Z,2001-08-31T00:00:00.000Z,3.051552e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
37,2001-09-01T00:00:00.000Z,2002-08-31T00:00:00.000Z,3.140804e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
38,2002-09-01T00:00:00.000Z,2003-08-31T00:00:00.000Z,2.968915e+09,20,{},14,1,2016-08-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
39,2003-09-01T00:00:00.000Z,2004-08-31T00:00:00.000Z,2.637742e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
40,2004-09-01T00:00:00.000Z,2005-08-31T00:00:00.000Z,3.241813e+09,20,{},14,1,2016-08-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
41,2005-09-01T00:00:00.000Z,2006-08-31T00:00:00.000Z,3.327500e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
42,2006-09-01T00:00:00.000Z,2007-08-31T00:00:00.000Z,3.655146e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
43,2007-09-01T00:00:00.000Z,2008-08-31T00:00:00.000Z,3.260846e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
44,2008-09-01T00:00:00.000Z,2009-08-31T00:00:00.000Z,3.185337e+09,20,{},14,1,2014-04-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
45,2009-09-01T00:00:00.000Z,2010-08-31T00:00:00.000Z,3.513755e+09,20,{},14,1,2014-11-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
46,2010-09-01T00:00:00.000Z,2011-08-31T00:00:00.000Z,3.496633e+09,20,{},14,1,2014-11-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
47,2011-09-01T00:00:00.000Z,2012-08-31T00:00:00.000Z,3.328345e+09,20,{},14,1,2017-07-12T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
48,2012-09-01T00:00:00.000Z,2013-08-31T00:00:00.000Z,3.251991e+09,20,{},14,1,2018-05-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
49,2013-09-01T00:00:00.000Z,2014-08-31T00:00:00.000Z,3.569349e+09,20,{},14,1,2019-02-08T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
50,2014-09-01T00:00:00.000Z,2015-08-31T00:00:00.000Z,4.053341e+09,20,{},14,1,2019-02-08T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
51,2015-09-01T00:00:00.000Z,2016-08-31T00:00:00.000Z,4.140975e+09,20,{},14,1,2019-07-11T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
52,2016-09-01T00:00:00.000Z,2017-08-31T00:00:00.000Z,4.515507e+09,20,{},14,1,2020-07-10T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
53,2017-09-01T00:00:00.000Z,2018-08-31T00:00:00.000Z,4.735089e+09,20,{},14,1,2020-09-11T00:00:00.000Z,2020-09-11T00:00:00.000Z,1880032,270,1215,0,9
54,2018-09-01T00:00:00.000Z,2019-08-31T00:00:00.000Z,4.880375e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1880032,270,1215,0,9
55,2019-09-01T00:00:00.000Z,2020-08-31T00:00:00.000Z,4.476375e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1880032,270,1215,0,9
56,2020-09-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,4.760736e+09,20,{},14,1,2022-02-09T00:00:00.000Z,2022-02-09T00:00:00.000Z,1880032,270,1215,0,9
57,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,4.707237e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1880032,270,1215,0,9

In [6]:
# total demand
# need to do separate queries for total consumption and exports

# Domestic consumption from PS&D
us_soy_consumption_query = {
    'metric_id': 1480032, # metric ID for domestic consumption (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

# Annual export volume from PS&D
us_soy_exports_query = {
    'metric_id': 20032, # metric ID for export volume (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

us_soy_consumption = pd.DataFrame(client.get_data_points(**us_soy_consumption_query))
us_soy_exports = pd.DataFrame(client.get_data_points(**us_soy_exports_query))

display(us_soy_consumption.head())
display(us_soy_exports.head())

# get total demand but adding consumption and exports
us_soy_demand = pd.merge(
    us_soy_consumption[['start_date', 'end_date', 'value']].rename(columns={'value': 'consumption'}),
    us_soy_exports[['start_date', 'end_date', 'value']].rename(columns={'value': 'exports'}),
    on=['start_date', 'end_date']
)
us_soy_demand['demand'] = us_soy_demand['consumption'].add(us_soy_demand['exports'])
us_soy_demand.tail()

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,5.263945e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.890798e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,6.124122e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,6.336870e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,6.597018e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,2.121599e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,2.505941e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,2.615805e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,2.665777e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,2.867869e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9

,start_date,end_date,consumption,exports,demand
53,2017-09-01T00:00:00.000Z,2018-08-31T00:00:00.000Z,2.163230e+09,2.133761e+09,4.296990e+09
54,2018-09-01T00:00:00.000Z,2019-08-31T00:00:00.000Z,2.217868e+09,1.753460e+09,3.971328e+09
55,2019-09-01T00:00:00.000Z,2020-08-31T00:00:00.000Z,2.272580e+09,1.679238e+09,3.951817e+09
56,2020-09-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,2.243184e+09,2.260564e+09,4.503749e+09
57,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,2.331884e+09,2.089999e+09,4.421883e+09

In [7]:
# ending stocks-to-use
# calculate ending stocks-to-use = ending carryover / total demand = (total supply - total demand) / total_demand

us_soy_stocks_to_use = pd.merge(
    us_soy_total_supply[['start_date', 'end_date', 'value']].rename(columns={'value': 'supply'}),
    us_soy_demand[['start_date', 'end_date', 'demand']],
    on=['start_date', 'end_date']
)

us_soy_stocks_to_use['carryover'] = us_soy_stocks_to_use['supply'].subtract(us_soy_stocks_to_use['demand'])
us_soy_stocks_to_use['stocks_to_use'] = us_soy_stocks_to_use['carryover'].divide(us_soy_stocks_to_use['demand'])

us_soy_stocks_to_use

,start_date,end_date,supply,demand,carryover,stocks_to_use
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,7.682436e+08,7.385544e+08,2.968915e+07,0.040199
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,8.753156e+08,8.396739e+08,3.564168e+07,0.042447
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,9.641258e+08,8.739928e+08,9.013303e+07,0.103128
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,1.066605e+09,9.002647e+08,1.663401e+08,0.184768
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,1.273327e+09,9.464887e+08,3.268379e+08,0.345316
5,1969-09-01T00:00:00.000Z,1970-08-31T00:00:00.000Z,1.459986e+09,1.230152e+09,2.298337e+08,0.186834
6,1970-09-01T00:00:00.000Z,1971-08-31T00:00:00.000Z,1.356956e+09,1.258188e+09,9.876787e+07,0.078500
7,1971-09-01T00:00:00.000Z,1972-08-31T00:00:00.000Z,1.274907e+09,1.202962e+09,7.194475e+07,0.059806
8,1972-09-01T00:00:00.000Z,1973-08-31T00:00:00.000Z,1.342589e+09,1.282954e+09,5.963551e+07,0.046483
9,1973-09-01T00:00:00.000Z,1974-08-31T00:00:00.000Z,1.607219e+09,1.436470e+09,1.707494e+08,0.118867
10,1974-09-01T00:00:00.000Z,1975-08-31T00:00:00.000Z,1.387049e+09,1.198883e+09,1.881660e+08,0.156951
11,1975-09-01T00:00:00.000Z,1976-08-31T00:00:00.000Z,1.736521e+09,1.491586e+09,2.449355e+08,0.164211
12,1976-09-01T00:00:00.000Z,1977-08-31T00:00:00.000Z,1.533548e+09,1.430628e+09,1.029199e+08,0.071940
13,1977-09-01T00:00:00.000Z,1978-08-31T00:00:00.000Z,1.870196e+09,1.709037e+09,1.611592e+08,0.094298
14,1978-09-01T00:00:00.000Z,1979-08-31T00:00:00.000Z,2.029922e+09,1.854323e+09,1.755996e+08,0.094697
15,1979-09-01T00:00:00.000Z,1980-08-31T00:00:00.000Z,2.436274e+09,2.077800e+09,3.584745e+08,0.172526
16,1980-09-01T00:00:00.000Z,1981-08-31T00:00:00.000Z,2.156028e+09,1.843006e+09,3.130221e+08,0.169843
17,1981-09-01T00:00:00.000Z,1982-08-31T00:00:00.000Z,2.302159e+09,2.047670e+09,2.544889e+08,0.124282
18,1982-09-01T00:00:00.000Z,1983-08-31T00:00:00.000Z,2.444799e+09,2.100177e+09,3.446220e+08,0.164092
19,1983-09-01T00:00:00.000Z,1984-08-31T00:00:00.000Z,1.980391e+09,1.804461e+09,1.759303e+08,0.097497
20,1984-09-01T00:00:00.000Z,1985-08-31T00:00:00.000Z,2.036793e+09,1.721089e+09,3.157044e+08,0.183433
21,1985-09-01T00:00:00.000Z,1986-08-31T00:00:00.000Z,2.414779e+09,1.879051e+09,5.357275e+08,0.285105
22,1986-09-01T00:00:00.000Z,1987-08-31T00:00:00.000Z,2.478309e+09,2.041938e+09,4.363717e+08,0.213705
23,1987-09-01T00:00:00.000Z,1988-08-31T00:00:00.000Z,2.375353e+09,2.072876e+09,3.024766e+08,0.145921
24,1988-09-01T00:00:00.000Z,1989-08-31T00:00:00.000Z,1.854947e+09,1.672918e+09,1.820298e+08,0.108810
25,1989-09-01T00:00:00.000Z,1990-08-31T00:00:00.000Z,2.108224e+09,1.869094e+09,2.391300e+08,0.127939
26,1990-09-01T00:00:00.000Z,1991-08-31T00:00:00.000Z,2.168594e+09,1.839552e+09,3.290425e+08,0.178871
27,1991-09-01T00:00:00.000Z,1992-08-31T00:00:00.000Z,2.319061e+09,2.040615e+09,2.784460e+08,0.136452
28,1992-09-01T00:00:00.000Z,1993-08-31T00:00:00.000Z,2.470887e+09,2.178589e+09,2.922985e+08,0.134169
29,1993-09-01T00:00:00.000Z,1994-08-31T00:00:00.000Z,2.168447e+09,1.959337e+09,2.091101e+08,0.106725
30,1994-09-01T00:00:00.000Z,1995-08-31T00:00:00.000Z,2.729491e+09,2.394680e+09,3.348113e+08,0.139815
31,1995-09-01T00:00:00.000Z,1996-08-31T00:00:00.000Z,2.513547e+09,2.330084e+09,1.834628e+08,0.078737
32,1996-09-01T00:00:00.000Z,1997-08-31T00:00:00.000Z,2.572631e+09,2.440794e+09,1.318375e+08,0.054014
33,1997-09-01T00:00:00.000Z,1998-08-31T00:00:00.000Z,2.825614e+09,2.625800e+09,1.998139e+08,0.076096
34,1998-09-01T00:00:00.000Z,1999-08-31T00:00:00.000Z,2.944370e+09,2.595890e+09,3.484801e+08,0.134243
35,1999-09-01T00:00:00.000Z,2000-08-31T00:00:00.000Z,3.006468e+09,2.716300e+09,2.901674e+08,0.106824
36,2000-09-01T00:00:00.000Z,2001-08-31T00:00:00.000Z,3.051552e+09,2.803788e+09,2.477648e+08,0.088368
37,2001-09-01T00:00:00.000Z,2002-08-31T00:00:00.000Z,3.140804e+09,2.932722e+09,2.080813e+08,0.070952
38,2002-09-01T00:00:00.000Z,2003-08-31T00:00:00.000Z,2.968915e+09,2.790597e+09,1.783186e+08,0.063900
39,2003-09-01T00:00:00.000Z,2004-08-31T00:00:00.000Z,2.637742e+09,2.525342e+09,1.123999e+08,0.044509
40,2004-09-01T00:00:00.000Z,2005-08-31T00:00:00.000Z,3.241813e+09,2.986075e+09,2.557382e+08,0.085644
41,2005-09-01T00:00:00.000Z,2006-08-31T00:00:00.000Z,3.327500e+09,2.878158e+09,4.493424e+08,0.156122
42,2006-09-01T00:00:00.000Z,2007-08-31T00:00:00.000Z,3.655146e+09,3.081315e+09,5.738310e+08,0.186229
43,2007-09-01T00:00:00.000Z,2008-08-31T00:00:00.000Z,3.260846e+09,3.055815e+09,2.050315e+08,0.067096
44,2008-09-01T00:00:00.000Z,2009-08-31T00:00:00.000Z,3.185337e+09,3.047143e+09,1.381942e+08,0.045352
45,2009-09-01T00:00:00.000Z,2010-08-31T00:00:00.000Z,3.513755e+09,3.362884e+09,1.508709e+08,0.044864
46,2010-09-01T00:00:00.000Z,2011-08-31T00:00:00.000Z,3.496633e+09,3.281607e+09,2.150259e+08,0.065525
47,2011-09-01T00:00:00.000Z,2012-08-31T00:00:00.000Z,3.328345e+09,3.158955e+09,1.693898e+08,0.053622
48,2012-09-01T00:00:00.000Z,2013-08-31T00:00:00.000Z,3.251991e+09,3.111445e+09,1.405458e+08,0.045171
49,2013-09-01T00:00:00.000Z,2014-08-31T00:00:00.000Z,3.569349e+09,3.477342e+09,9.200698e+07,0.026459
50,2014-09-01T00:00:00.000Z,2015-08-31T00:00:00.000Z,4.053341e+09,3.862713e+09,1.906279e+08,0.049351
51,2015-09-01T00:00:00.000Z,2016-08-31T00:00:00.000Z,4.140975e+09,3.944248e+09,1.967274e+08,0.049877
52,2016-09-01T00:00:00.000Z,2017-08-31T00:00:00.000Z,4.515507e+09,4.213912e+09,3.015948e+08,0.071571
53,2017-09-01T00:00:00.000Z,2018-08-31T00:00:00.000Z,4.735089e+09,4.296990e+09,4.380987e+08,0.101955
54,2018-09-01T00:00:00.000Z,2019-08-31T00:00:00.000Z,4.880375e+09,3.971328e+09,9.090466e+08,0.228902
55,2019-09-01T00:00:00.000Z,2020-08-31T00:00:00.000Z,4.476375e+09,3.951817e+09,5.245573e+08,0.132738
56,2020-09-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,4.760736e+09,4.503749e+09,2.569875e+08,0.057061
57,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,4.707237e+09,4.421883e+09,2.853539e+08,0.064532

## Querying multiple metrics at once

The queries we've been writing have been similar (same item, region, source). Can also query multiple metrics at once.

Query for supply, exports, and consumption at all once.

Take these three queries and make into one:
```
# Total Supply from PS&D
us_soy_total_supply_query = {
    'metric_id': 1880032, # metric ID for supply quantity (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

# Domestic consumption from PS&D
us_soy_consumption_query = {
    'metric_id': 1480032, # metric ID for domestic consumption (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

# Annual export volume from PS&D
us_soy_exports_query = {
    'metric_id': 20032, # metric ID for export volume (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}
```

In [8]:
combined_query = {
    'metric_id': [1880032, 1480032, 20032], # supply, domestic consumption, export
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for US PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
}

us_soy_combined = pd.DataFrame(client.get_data_points(**combined_query))
us_soy_combined

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,5.263945e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.890798e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,6.124122e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,6.336870e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,6.597018e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2017-09-01T00:00:00.000Z,2018-08-31T00:00:00.000Z,4.735089e+09,20,{},14,1,2020-09-11T00:00:00.000Z,2020-09-11T00:00:00.000Z,1880032,270,1215,0,9
170,2018-09-01T00:00:00.000Z,2019-08-31T00:00:00.000Z,4.880375e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1880032,270,1215,0,9
171,2019-09-01T00:00:00.000Z,2020-08-31T00:00:00.000Z,4.476375e+09,20,{},14,1,2021-07-12T00:00:00.000Z,2021-07-12T00:00:00.000Z,1880032,270,1215,0,9
172,2020-09-01T00:00:00.000Z,2021-08-31T00:00:00.000Z,4.760736e+09,20,{},14,1,2022-02-09T00:00:00.000Z,2022-02-09T00:00:00.000Z,1880032,270,1215,0,9
173,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,4.707237e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1880032,270,1215,0,9

In [9]:
just_supply = us_soy_combined[us_soy_combined['metric_id'] == 1880032]
just_supply.head()

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
116,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,7.682436e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
117,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,8.753156e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
118,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,9.641258e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
119,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,1.066605e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9
120,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,1.273327e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1880032,270,1215,0,9

## Gro Yield Model

The Gro Yield Model ouputs predictions for crop yield. 

We can query the predictions from the API:

In [10]:
us_soy_gro_yield_query = {
    'metric_id': 170037, # yield (mass/area)
    'item_id': 270, # soybeans
    'region_id': 1215, # US
    'source_id': 32, # Gro Yield Model
    'frequency_id': 9, # annual
    'unit_id': 287 # bushel per acre
}
us_soy_gro_yield = pd.DataFrame(client.get_data_points(**us_soy_gro_yield_query))
us_soy_gro_yield

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,2009-01-01T00:00:00.000Z,2009-12-31T00:00:00.000Z,46.076001,287,{},287,1,2009-10-31T00:00:00.000Z,2020-08-03T20:50:16.000Z,170037,270,1215,0,9
1,2010-01-01T00:00:00.000Z,2010-12-31T00:00:00.000Z,44.734604,287,{},287,1,2010-10-31T00:00:00.000Z,2020-08-03T20:54:17.000Z,170037,270,1215,0,9
2,2011-01-01T00:00:00.000Z,2011-12-31T00:00:00.000Z,43.907566,287,{},287,1,2011-10-31T00:00:00.000Z,2020-08-03T20:57:09.000Z,170037,270,1215,0,9
3,2012-01-01T00:00:00.000Z,2012-12-31T00:00:00.000Z,37.277818,287,{},287,1,2012-10-30T00:00:00.000Z,2020-08-03T20:57:32.000Z,170037,270,1215,0,9
4,2013-01-01T00:00:00.000Z,2013-12-31T00:00:00.000Z,44.581517,287,{},287,1,2013-10-31T00:00:00.000Z,2020-04-22T00:00:00.000Z,170037,270,1215,0,9
5,2014-01-01T00:00:00.000Z,2014-12-31T00:00:00.000Z,47.729571,287,{},287,1,2014-10-31T00:00:00.000Z,2020-04-22T00:00:00.000Z,170037,270,1215,0,9
6,2015-01-01T00:00:00.000Z,2015-12-31T00:00:00.000Z,47.623592,287,{},287,1,2015-10-31T00:00:00.000Z,2020-04-22T00:00:00.000Z,170037,270,1215,0,9
7,2016-01-01T00:00:00.000Z,2016-12-31T00:00:00.000Z,49.801396,287,{},287,1,2016-10-30T00:00:00.000Z,2020-04-22T00:00:00.000Z,170037,270,1215,0,9
8,2017-01-01T00:00:00.000Z,2017-12-31T00:00:00.000Z,49.713726,287,{},287,1,2017-10-31T00:00:00.000Z,2020-04-22T00:00:00.000Z,170037,270,1215,0,9
9,2018-01-01T00:00:00.000Z,2018-12-31T00:00:00.000Z,50.610125,287,{},287,1,2019-01-17T00:00:00.000Z,2019-01-17T00:00:00.000Z,170037,270,1215,0,9
10,2019-01-01T00:00:00.000Z,2019-12-31T00:00:00.000Z,46.647520,287,{},287,1,2019-12-31T00:00:00.000Z,2019-12-31T00:00:00.000Z,170037,270,1215,0,9
11,2020-01-01T00:00:00.000Z,2020-12-31T00:00:00.000Z,51.449725,287,{},287,1,2020-12-31T00:00:00.000Z,2020-12-31T05:03:43.000Z,170037,270,1215,0,9
12,2021-01-01T00:00:00.000Z,2021-12-31T00:00:00.000Z,51.116523,287,{},287,1,2021-12-31T00:00:00.000Z,2021-12-31T02:27:41.000Z,170037,270,1215,0,9
13,2022-01-01T00:00:00.000Z,2022-12-31T00:00:00.000Z,49.929469,287,{},287,1,2022-03-21T00:00:00.000Z,2022-03-21T01:36:00.000Z,170037,270,1215,0,9

Suppose we want this at a smaller granularity. We can use the same query with a different region ID.

Doing the same query but for individual states.

In [11]:
us_states = client.get_descendant_regions(1215, descendant_level=4) # level 4 is state for US
print('Example of US state dictionary', us_states[25])

us_states_region_id = [x['id'] for x in us_states]
print('Example of just the region ID', us_states_region_id[25])

us_soy_gro_yield_states = us_soy_gro_yield_query.copy()
us_soy_gro_yield_states['region_id'] = us_states_region_id
pd.DataFrame(client.get_data_points(**us_soy_gro_yield_states))

Example of US state dictionary {'aliases': ['MO', 'US-MO'], 'contains': [138295, 138320, 138283, 138280, 138340, 138282, 138281, 138265, 138261, 138304, 138341, 138277, 138257, 138314, 138246, 138317, 138292, 138287, 138253, 138335, 138312, 138347, 138270, 138275, 138264, 138332, 138326, 138274, 138302, 138339, 138250, 138331, 138328, 138299, 138293, 138291, 138276, 138258, 138298, 138309, 138271, 138266, 138247, 138249, 138343, 138239, 138238, 138325, 138242, 138289, 138279, 138311, 138268, 138350, 138244, 138296, 138262, 138303, 138315, 138327, 138336, 138260, 138267, 138245, 138310, 138330, 138288, 138323, 138338, 1001233, 138333, 138273, 138346, 138337, 138259, 138254, 138263, 138297, 138278, 138349, 138255, 138248, 138308, 138345, 138256, 138344, 138301, 138319, 138342, 138321, 138322, 138329, 138313, 138240, 138306, 138243, 138318, 138251, 138272, 138307, 138241, 138334, 138305, 138285, 138294, 138300, 1001241, 138269, 138351, 138252, 138324, 138286, 138316, 138348, 138284, 138290, 100017845, 100000345, 100000346, 100000347, 100000348, 100000349, 100000350, 100000351, 100000352, 100000353, 100017677, 100017678, 100017679, 100017680, 100017681, 100017682, 100017683, 100022918, 100023579, 100025189, 100025190, 100025257], 'definition': None, 'historical': None, 'id': 13076, 'latitude': 38.3675, 'level': 4, 'longitude': -92.4777, 'name': 'Missouri', 'belongsTo': [1215, 100000100, 100000101, 100000108, 100017953, 100022926, 100022930, 100022931, 100022934, 100023363, 100023403, 100025246, 100025279]}
Example of just the region ID 13076

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,2018-01-01T00:00:00.000Z,2018-12-31T00:00:00.000Z,48.289228,287,{},287,1,2019-01-17T00:00:00.000Z,2019-01-17T00:00:00.000Z,170037,270,13054,0,9
1,2019-01-01T00:00:00.000Z,2019-12-31T00:00:00.000Z,49.133392,287,{},287,1,2019-12-31T00:00:00.000Z,2019-12-31T00:00:00.000Z,170037,270,13054,0,9
2,2020-01-01T00:00:00.000Z,2020-12-31T00:00:00.000Z,51.999516,287,{},287,1,2020-12-31T00:00:00.000Z,2020-12-31T05:03:40.000Z,170037,270,13054,0,9
3,2021-01-01T00:00:00.000Z,2021-12-31T00:00:00.000Z,51.771675,287,{},287,1,2021-12-31T00:00:00.000Z,2021-12-31T02:27:41.000Z,170037,270,13054,0,9
4,2018-01-01T00:00:00.000Z,2018-12-31T00:00:00.000Z,59.403193,287,{},287,1,2019-01-17T00:00:00.000Z,2019-01-17T00:00:00.000Z,170037,270,13064,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2021-01-01T00:00:00.000Z,2021-12-31T00:00:00.000Z,51.159862,287,{},287,1,2021-12-31T00:00:00.000Z,2021-12-31T02:27:41.000Z,170037,270,13093,0,9
68,2018-01-01T00:00:00.000Z,2018-12-31T00:00:00.000Z,51.227911,287,{},287,1,2019-01-17T00:00:00.000Z,2019-01-17T00:00:00.000Z,170037,270,13100,0,9
69,2019-01-01T00:00:00.000Z,2019-12-31T00:00:00.000Z,47.721321,287,{},287,1,2019-12-31T00:00:00.000Z,2019-12-31T00:00:00.000Z,170037,270,13100,0,9
70,2020-01-01T00:00:00.000Z,2020-12-31T00:00:00.000Z,53.881570,287,{},287,1,2020-12-31T00:00:00.000Z,2020-12-31T05:03:40.000Z,170037,270,13100,0,9
71,2021-01-01T00:00:00.000Z,2021-12-31T00:00:00.000Z,52.632041,287,{},287,1,2021-12-31T00:00:00.000Z,2021-12-31T02:27:41.000Z,170037,270,13100,0,9

## Putting this all together: US soybeans supply

Suppose we want to get all the values used in the supply part of the US soybeans balance sheet.

Metric IDs we care about:
* Supply
    * Yield - 170037
        * Source for this is Gro Yield Model (source ID 32)
    * Planted Area - 2580001
        * Source for this is WASDE (source ID 106)
    * Harvested Area - 570001
        * Source for this is USDA PS&D (source ID 14)
    * Production - 860032
        * Source for this is USDA PS&D (source ID 14)
    * Imports - 30032
        * Source for this is USDA PS&D (source ID 14)
        
We already have loaded in the data series for yield, so we can write queries for planted area, harvested area, production, and imports.

In [12]:
us_soy_area_query = {
    'item_id': 270, # soybeans
    'region_id': 1215, # US
    'frequency_id': 9, # annual
    'unit_id': 41 # acre
}

# PLANTED AREA
us_soy_planted_area_query = us_soy_area_query.copy()
us_soy_planted_area_query['metric_id'] = 2580001 # area planted
us_soy_planted_area_query['source_id'] = 106 # WASDE

us_soy_planted_area = pd.DataFrame(client.get_data_points(**us_soy_planted_area_query))
print('US Soybeans Planted Area')
display(us_soy_planted_area.head())

# HARVESTED AREA
us_soy_harvest_area_query = us_soy_area_query.copy()
us_soy_harvest_area_query['metric_id'] = 570001 # area harvested
us_soy_harvest_area_query['source_id'] = 14 # USDA PS&D

us_soy_harvest_area = pd.DataFrame(client.get_data_points(**us_soy_harvest_area_query))
print('US Soybeans Harvested Area')
display(us_soy_harvest_area.head())

### PRODUCTION AND IMPORTS
us_soy_psd_query = {
    'item_id': 270, # soybeans
    'region_id': 1215, # US
    'frequency_id': 9, # annual
    'source_id': 14, # USDA PS&D
    'unit_id': 20 # bushel
}

# PRODUCTION
us_soy_production_query = us_soy_psd_query.copy()
us_soy_production_query['metric_id'] = 860032 # production quantity (mass)

us_soy_production = pd.DataFrame(client.get_data_points(**us_soy_production_query))
print('US Soybeans Production')
display(us_soy_production.head())

# IMPORTS
us_soy_import_query = us_soy_psd_query.copy()
us_soy_import_query['metric_id'] = 30032 # import volume (mass)

us_soy_import = pd.DataFrame(client.get_data_points(**us_soy_import_query))
print('US Soybeans Imports')
display(us_soy_import.head())

US Soybeans Planted Area

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,2008-09-01T00:00:00.000Z,2009-08-31T00:00:00.000Z,75700000,41,{},41,1,2011-04-08T00:00:00.000Z,2019-03-29T00:00:00.000Z,2580001,270,1215,0,9
1,2009-09-01T00:00:00.000Z,2010-08-31T00:00:00.000Z,77500000,41,{},41,1,2012-04-10T00:00:00.000Z,2019-03-29T00:00:00.000Z,2580001,270,1215,0,9
2,2010-09-01T00:00:00.000Z,2011-08-31T00:00:00.000Z,77400000,41,{},41,1,2013-04-10T00:00:00.000Z,2019-03-29T00:00:00.000Z,2580001,270,1215,0,9
3,2011-09-01T00:00:00.000Z,2012-08-31T00:00:00.000Z,75000000,41,{},41,1,2014-04-09T00:00:00.000Z,2019-03-29T00:00:00.000Z,2580001,270,1215,0,9
4,2012-09-01T00:00:00.000Z,2013-08-31T00:00:00.000Z,77200000,41,{},41,1,2015-04-09T00:00:00.000Z,2019-03-29T00:00:00.000Z,2580001,270,1215,0,9

US Soybeans Harvested Area

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,3.079427e+07,41,{},42,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,570001,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,3.444896e+07,41,{},42,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,570001,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,3.654689e+07,41,{},42,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,570001,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,3.980621e+07,41,{},42,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,570001,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,4.139262e+07,41,{},42,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,570001,270,1215,0,9

US Soybeans Production

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,7.009285e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,860032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,8.456264e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,860032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,9.284841e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,860032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,9.764718e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,860032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,1.106986e+09,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,860032,270,1215,0,9

US Soybeans Imports

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,0.0,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,30032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,0.0,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,30032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,0.0,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,30032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,0.0,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,30032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,0.0,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,30032,270,1215,0,9

In [13]:
# putting all supply together
def get_end_year(df):
    df['end_year'] = pd.DatetimeIndex(df['end_date']).year
    return df

def get_end_year_yield(df):
    '''
    The Gro Yield model works on a different year, not the market year. We account for year alignment here.
    '''
    df['end_year'] = pd.DatetimeIndex(df['end_date']).year + 1
    return df

us_soy_supply = pd.merge(
    get_end_year_yield(us_soy_gro_yield)[['end_year', 'value']].rename(columns={'value': 'yield'}),
    get_end_year(us_soy_planted_area)[['end_year', 'value']].rename(columns={'value': 'planted_area'}),
    on='end_year'
).merge(
    get_end_year(us_soy_harvest_area)[['end_year', 'value']].rename(columns={'value': 'harvested_area'}),
    on='end_year'
).merge(
    get_end_year(us_soy_production)[['end_year', 'value']].rename(columns={'value': 'production'}),
    on='end_year'
).merge(
    get_end_year(us_soy_import)[['end_year', 'value']].rename(columns={'value': 'import'}),
    on='end_year'
)
display(us_soy_supply)
display(us_soy_supply.pivot_table(columns='end_year'))

,end_year,yield,planted_area,harvested_area,production,import
0,2010,46.076001,77500000,7.637286e+07,3.360974e+09,1.458737e+07
1,2011,44.734604,77400000,7.661008e+07,3.331321e+09,1.444039e+07
2,2012,43.907566,75000000,7.377578e+07,3.097189e+09,1.613062e+07
3,2013,37.277818,77200000,7.614305e+07,3.042073e+09,4.052863e+07
4,2014,44.581517,76800000,7.623201e+07,3.357042e+09,7.176103e+07
5,2015,47.729571,83300000,8.260980e+07,3.928117e+09,3.321658e+07
6,2016,47.623592,82700000,8.174246e+07,3.926795e+09,2.355290e+07
7,2017,49.801396,83500000,8.270617e+07,4.296513e+09,2.226686e+07
8,2018,49.713726,90200000,8.954111e+07,4.411668e+09,2.182594e+07
9,2019,50.610125,89200000,8.759392e+07,4.428203e+09,1.407295e+07
10,2020,46.647520,76100000,7.493965e+07,3.551932e+09,1.539574e+07
11,2021,51.449725,83400000,8.260239e+07,4.216337e+09,1.984176e+07
12,2022,51.116523,87200000,8.633121e+07,4.435258e+09,1.499155e+07

end_year,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
harvested_area,7.637286e+07,7.661008e+07,7.377578e+07,7.614305e+07,7.623201e+07,8.260980e+07,8.174246e+07,8.270617e+07,8.954111e+07,8.759392e+07,7.493965e+07,8.260239e+07,8.633121e+07
import,1.458737e+07,1.444039e+07,1.613062e+07,4.052863e+07,7.176103e+07,3.321658e+07,2.355290e+07,2.226686e+07,2.182594e+07,1.407295e+07,1.539574e+07,1.984176e+07,1.499155e+07
planted_area,7.750000e+07,7.740000e+07,7.500000e+07,7.720000e+07,7.680000e+07,8.330000e+07,8.270000e+07,8.350000e+07,9.020000e+07,8.920000e+07,7.610000e+07,8.340000e+07,8.720000e+07
production,3.360974e+09,3.331321e+09,3.097189e+09,3.042073e+09,3.357042e+09,3.928117e+09,3.926795e+09,4.296513e+09,4.411668e+09,4.428203e+09,3.551932e+09,4.216337e+09,4.435258e+09
yield,4.607600e+01,4.473460e+01,4.390757e+01,3.727782e+01,4.458152e+01,4.772957e+01,4.762359e+01,4.980140e+01,4.971373e+01,5.061013e+01,4.664752e+01,5.144973e+01,5.111652e+01

We are looking at limited years because WASDE planted area only goes back until 2009. Could merge differently to get all past years.

## Demand

Just like we put together the supply side of the balance sheet, we can put together the demand side as well.
Metric IDs we care about:
* Demand
    * Crush - 1800032
        * Source for this is USDA PS&D (source ID 14)
    * Waste and Feed - 1760032
        * Source for this is USDA PS&D (source ID 14)
    * Domestic Consumption - 1480032
        * Source for this is USDA PS&D (source ID 14)
    * Exports - 20032
        * Source for this is USDA PS&D (source ID 14)

In [14]:
# CRUSH
us_soy_crush_query = us_soy_psd_query.copy()
us_soy_crush_query['metric_id'] = 1800032 # Crushing (mass)

us_soy_crush = pd.DataFrame(client.get_data_points(**us_soy_crush_query))
print('US Soybeans Crush')
display(us_soy_crush.head())

# WASTE AND FEED
us_soy_feed_query = us_soy_psd_query.copy()
us_soy_feed_query['metric_id'] = 1760032 # Feed Use (mass)

us_soy_feed = pd.DataFrame(client.get_data_points(**us_soy_feed_query))
print('US Soybeans Feed and Waste')
display(us_soy_feed.head())

# DOMESTIC CONSUMPTION
us_soy_consumption_query = us_soy_psd_query.copy()
us_soy_consumption_query['metric_id'] = 1480032 # Domestic Consumption (mass)

us_soy_consumption = pd.DataFrame(client.get_data_points(**us_soy_consumption_query))
print('US Soybeans Domestic Consumption')
display(us_soy_consumption.head())

# EXPORTS
us_soy_exports_query = us_soy_psd_query.copy()
us_soy_exports_query['metric_id'] = 20032 # Export Volume (mass)

us_soy_exports = pd.DataFrame(client.get_data_points(**us_soy_exports_query))
print('US Soybeans Export Volume')
display(us_soy_exports.head())

US Soybeans Crush

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,4.789948e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.374912e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,5.594274e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,5.764031e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,6.059086e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1800032,270,1215,0,9

US Soybeans Feed and Waste

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,4.739976e+07,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1760032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.158858e+07,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1760032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,5.298485e+07,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1760032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,5.728390e+07,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1760032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,5.379322e+07,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1760032,270,1215,0,9

US Soybeans Domestic Consumption

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,5.263945e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,5.890798e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,6.124122e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,6.336870e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,6.597018e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,1480032,270,1215,0,9

US Soybeans Export Volume

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,1964-09-01T00:00:00.000Z,1965-08-31T00:00:00.000Z,2.121599e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
1,1965-09-01T00:00:00.000Z,1966-08-31T00:00:00.000Z,2.505941e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
2,1966-09-01T00:00:00.000Z,1967-08-31T00:00:00.000Z,2.615805e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
3,1967-09-01T00:00:00.000Z,1968-08-31T00:00:00.000Z,2.665777e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9
4,1968-09-01T00:00:00.000Z,1969-08-31T00:00:00.000Z,2.867869e+08,20,{},14,1,2006-06-09T00:00:00.000Z,2020-11-02T00:00:00.000Z,20032,270,1215,0,9

In [15]:
# putting all demand together
us_soy_demand = pd.merge(
    get_end_year(us_soy_crush)[['end_year', 'value']].rename(columns={'value': 'crush'}),
    get_end_year(us_soy_feed)[['end_year', 'value']].rename(columns={'value': 'feed_use'}),
    on='end_year'
).merge(
    get_end_year(us_soy_consumption)[['end_year', 'value']].rename(columns={'value': 'consumption'}),
    on='end_year'
).merge(
    get_end_year(us_soy_exports)[['end_year', 'value']].rename(columns={'value': 'export_vol'}),
    on='end_year'
)
us_soy_demand['total_demand'] = us_soy_demand['consumption'].add(us_soy_demand['export_vol'])
display(us_soy_demand)
display(us_soy_demand.pivot_table(columns='end_year'))

,end_year,crush,feed_use,consumption,export_vol,total_demand
0,1965,4.789948e+08,4.739976e+07,5.263945e+08,2.121599e+08,7.385544e+08
1,1966,5.374912e+08,5.158858e+07,5.890798e+08,2.505941e+08,8.396739e+08
2,1967,5.594274e+08,5.298485e+07,6.124122e+08,2.615805e+08,8.739928e+08
3,1968,5.764031e+08,5.728390e+07,6.336870e+08,2.665777e+08,9.002647e+08
4,1969,6.059086e+08,5.379322e+07,6.597018e+08,2.867869e+08,9.464887e+08
5,1970,7.373051e+08,6.026016e+07,7.975653e+08,4.325871e+08,1.230152e+09
6,1971,7.601231e+08,6.426526e+07,8.243884e+08,4.337997e+08,1.258188e+09
7,1972,7.205498e+08,6.558804e+07,7.861379e+08,4.168239e+08,1.202962e+09
8,1973,7.217991e+08,8.171866e+07,8.035178e+08,4.794357e+08,1.282954e+09
9,1974,8.213386e+08,7.598659e+07,8.973252e+08,5.391447e+08,1.436470e+09
10,1975,7.012592e+08,7.690519e+07,7.781644e+08,4.207188e+08,1.198883e+09
11,1976,8.651375e+08,7.135685e+07,9.364943e+08,5.550916e+08,1.491586e+09
12,1977,7.902165e+08,7.635403e+07,8.665705e+08,5.640571e+08,1.430628e+09
13,1978,9.266837e+08,8.197586e+07,1.008660e+09,7.003774e+08,1.709037e+09
14,1979,1.017846e+09,9.729811e+07,1.115144e+09,7.391790e+08,1.854323e+09
15,1980,1.123374e+09,7.925681e+07,1.202631e+09,8.751686e+08,2.077800e+09
16,1981,1.020491e+09,9.821671e+07,1.118708e+09,7.242977e+08,1.843006e+09
17,1982,1.030008e+09,8.858978e+07,1.118598e+09,9.290720e+08,2.047670e+09
18,1983,1.108015e+09,8.700979e+07,1.195025e+09,9.051517e+08,2.100177e+09
19,1984,9.830122e+08,7.844844e+07,1.061461e+09,7.430004e+08,1.804461e+09
20,1985,1.030485e+09,9.296232e+07,1.123448e+09,5.976412e+08,1.721089e+09
21,1986,1.053010e+09,8.535631e+07,1.138366e+09,7.406856e+08,1.879051e+09
22,1987,1.179005e+09,1.060064e+08,1.285011e+09,7.569264e+08,2.041938e+09
23,1988,1.174228e+09,9.505673e+07,1.269285e+09,8.035913e+08,2.072876e+09
24,1989,1.058007e+09,8.745072e+07,1.145457e+09,5.274601e+08,1.672918e+09
25,1990,1.146009e+09,1.008990e+08,1.246908e+09,6.221862e+08,1.869094e+09
26,1991,1.187015e+09,9.586510e+07,1.282880e+09,5.566716e+08,1.839552e+09
27,1992,1.253999e+09,1.026627e+08,1.356662e+09,6.839528e+08,2.040615e+09
28,1993,1.278985e+09,1.287142e+08,1.407993e+09,7.705952e+08,2.178589e+09
29,1994,1.275605e+09,9.560789e+07,1.371213e+09,5.881245e+08,1.959337e+09
30,1995,1.405164e+09,1.492909e+08,1.554455e+09,8.402250e+08,2.394680e+09
31,1996,1.369559e+09,1.114446e+08,1.481004e+09,8.490804e+08,2.330084e+09
32,1997,1.435956e+09,1.189403e+08,1.554896e+09,8.858978e+08,2.440794e+09
33,1998,1.597041e+09,1.543983e+08,1.751440e+09,8.743602e+08,2.625800e+09
34,1999,1.589619e+09,2.016143e+08,1.791233e+09,8.046569e+08,2.595890e+09
35,2000,1.577310e+09,1.639150e+08,1.741225e+09,9.750755e+08,2.716300e+09
36,2001,1.639701e+09,1.682140e+08,1.807915e+09,9.958726e+08,2.803788e+09
37,2002,1.699741e+09,1.693164e+08,1.869057e+09,1.063665e+09,2.932722e+09
38,2003,1.614825e+09,1.313965e+08,1.746222e+09,1.044375e+09,2.790597e+09
39,2004,1.529726e+09,1.090562e+08,1.638782e+09,8.865592e+08,2.525342e+09
40,2005,1.696103e+09,1.927958e+08,1.888899e+09,1.097176e+09,2.986075e+09
41,2006,1.738873e+09,1.994097e+08,1.938283e+09,9.398748e+08,2.878158e+09
42,2007,1.807731e+09,1.570806e+08,1.964812e+09,1.116503e+09,3.081315e+09
43,2008,1.803432e+09,9.355022e+07,1.896982e+09,1.158832e+09,3.055815e+09
44,2009,1.661931e+09,1.058962e+08,1.767827e+09,1.279316e+09,3.047143e+09
45,2010,1.751697e+09,1.121059e+08,1.863803e+09,1.499082e+09,3.362884e+09
46,2011,1.648005e+09,1.286040e+08,1.776609e+09,1.504997e+09,3.281607e+09
47,2012,1.703011e+09,8.958187e+07,1.792593e+09,1.366362e+09,3.158955e+09
48,2013,1.689011e+09,9.490975e+07,1.783921e+09,1.327524e+09,3.111445e+09
49,2014,1.734023e+09,1.047571e+08,1.838780e+09,1.638562e+09,3.477342e+09
50,2015,1.873025e+09,1.474904e+08,2.020516e+09,1.842197e+09,3.862713e+09
51,2016,1.886253e+09,1.153762e+08,2.001629e+09,1.942619e+09,3.944248e+09
52,2017,1.901208e+09,1.461309e+08,2.047339e+09,2.166573e+09,4.213912e+09
53,2018,2.054945e+09,1.082846e+08,2.163230e+09,2.133761e+09,4.296990e+09
54,2019,2.092020e+09,1.258482e+08,2.217868e+09,1.753460e+09,3.971328e+09
55,2020,2.164589e+09,1.079906e+08,2.272580e+09,1.679238e+09,3.951817e+09
56,2021,2.140595e+09,1.025892e+08,2.243184e+09,2.260564e+09,4.503749e+09
57,2022,2.215002e+09,1.168827e+08,2.331884e+09,2.089999e+09,4.421883e+09

end_year,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
consumption,5.263945e+08,5.890798e+08,6.124122e+08,6.336870e+08,6.597018e+08,7.975653e+08,8.243884e+08,7.861379e+08,8.035178e+08,8.973252e+08,...,1.783921e+09,1.838780e+09,2.020516e+09,2.001629e+09,2.047339e+09,2.163230e+09,2.217868e+09,2.272580e+09,2.243184e+09,2.331884e+09
crush,4.789948e+08,5.374912e+08,5.594274e+08,5.764031e+08,6.059086e+08,7.373051e+08,7.601231e+08,7.205498e+08,7.217991e+08,8.213386e+08,...,1.689011e+09,1.734023e+09,1.873025e+09,1.886253e+09,1.901208e+09,2.054945e+09,2.092020e+09,2.164589e+09,2.140595e+09,2.215002e+09
export_vol,2.121599e+08,2.505941e+08,2.615805e+08,2.665777e+08,2.867869e+08,4.325871e+08,4.337997e+08,4.168239e+08,4.794357e+08,5.391447e+08,...,1.327524e+09,1.638562e+09,1.842197e+09,1.942619e+09,2.166573e+09,2.133761e+09,1.753460e+09,1.679238e+09,2.260564e+09,2.089999e+09
feed_use,4.739976e+07,5.158858e+07,5.298485e+07,5.728390e+07,5.379322e+07,6.026016e+07,6.426526e+07,6.558804e+07,8.171866e+07,7.598659e+07,...,9.490975e+07,1.047571e+08,1.474904e+08,1.153762e+08,1.461309e+08,1.082846e+08,1.258482e+08,1.079906e+08,1.025892e+08,1.168827e+08
total_demand,7.385544e+08,8.396739e+08,8.739928e+08,9.002647e+08,9.464887e+08,1.230152e+09,1.258188e+09,1.202962e+09,1.282954e+09,1.436470e+09,...,3.111445e+09,3.477342e+09,3.862713e+09,3.944248e+09,4.213912e+09,4.296990e+09,3.971328e+09,3.951817e+09,4.503749e+09,4.421883e+09

## Querying data from other regions

We also care about China, Brazil, and Argentina. Can replace the region IDs in all the queries with the region IDs for these countries.

Let's get soy crush from the US (1215), Brazil (1029), China (1231), and Argentina (1010) for example. Let's limit it to this year only.

Refer to our query for US soy crush:
```
us_soy_crush_query = {
    'metric_id': 1800032, # metric ID for crushing (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': 1215, # region ID for the US
    'source_id': 14, # source ID for USDA PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20 # unit ID for bushels
}
```

In [16]:
all_countries_soy_crush_query = {
    'metric_id': 1800032, # metric ID for crushing (mass)
    'item_id': 270, # item ID for soybeans
    'region_id': [1215, 1029, 1231, 1010], # region IDs for US, Brazil, China, and Argentina
    'source_id': 14, # source ID for USDA PS&D
    'frequency_id': 9, # frequency ID for annual
    'unit_id': 20, # unit ID for bushels
    'start_date': '2022-01-01',
    'end_date': '2022-12-31'
}

all_countries_soy_crush = pd.DataFrame(client.get_data_points(**all_countries_soy_crush_query))
all_countries_soy_crush

,start_date,end_date,value,unit_id,metadata,input_unit_id,input_unit_scale,reporting_date,available_date,metric_id,item_id,region_id,partner_region_id,frequency_id
0,2021-10-01T00:00:00.000Z,2022-09-30T00:00:00.000Z,1.469760e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1010,0,9
1,2021-10-01T00:00:00.000Z,2022-09-30T00:00:00.000Z,1.699410e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1029,0,9
2,2021-09-01T00:00:00.000Z,2022-08-31T00:00:00.000Z,2.215002e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1215,0,9
3,2021-10-01T00:00:00.000Z,2022-09-30T00:00:00.000Z,3.380448e+09,20,{},14,1,2022-03-09T00:00:00.000Z,2022-03-09T00:00:00.000Z,1800032,270,1231,0,9